<div class="login-page">

  <div class="login-card">

    <div class="bank-icon">
      <i class="fas fa-university"></i>
    </div>

    <h2>Secure Banking Login</h2>
    <div *ngIf="successMessage" class="success-card">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert error-msg">
      {{ errorMessage }}
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>

      <!-- Email -->
      <div class="input-group" [class.invalid]="email.invalid && email.touched">

        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>

        <input type="email" placeholder="Enter Email" [(ngModel)]="user.email" name="email" #email="ngModel" required
          email (ngModelChange)="onInputChange()">

      </div>

      <div class="error" *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.['required']">Email is required</small>
        <small *ngIf="email.errors?.['email']">Enter a valid email address</small>
      </div>


      <!-- Password -->
      <div class="input-group" [class.invalid]="password.invalid && password.touched">

        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>

        <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" [(ngModel)]="user.password"
          name="password" #password="ngModel" required minlength="6" (ngModelChange)="onInputChange()">

        <span class="toggle" (click)="togglePassword()">
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword">
          </i>
        </span>

      </div>

      <div class="error" *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors?.['required']">Password is required</small>
        <small *ngIf="password.errors?.['minlength']">Minimum 6 characters required</small>
      </div>


      <!-- Button -->
      <button class="login-btn" type="submit" [disabled]="loginForm.invalid || loading">

        <span *ngIf="!loading">Login</span>

        <span *ngIf="loading">
          <i class="fas fa-spinner fa-spin"></i> Logging in...
        </span>

      </button>
      <!-- Register Section -->
      <p class="register-text">
        Don't have an account?
        <a class="register-link" (click)="navigateToRegister()" tabindex="0">
          Register here
        </a>
      </p>

    </form>

  </div>

</div>